<div>
  <mat-card class="info-card">
    <mat-card-title>Informações do Empréstimo</mat-card-title>
    <mat-card-content>
      <p>ID: {{ emprestimo.id }}</p>
      <p>livros: {{ emprestimo.livros }}</p>
      <p>Leitor: {{ emprestimo.leitor }}</p>
      <p>Data do Empréstimo: {{ emprestimo.dataEmprestimo }}</p>
      <p>Data de Devolução Prevista: {{ emprestimo.dataDevolucaoPrevista }}</p>
      <p>Data de Devolução Real: {{ emprestimo.dataDevolucaoReal }}</p>
    </mat-card-content>
  </mat-card>
  <p>Card renderizado!</p>
</div>
