.info-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background-color {
  background-color: #2196f3;
  color: #fff;
  padding: 10px;
}

.card {
  padding: 10px;
}

mat-card-content {
  padding: 10px;
}

p {
  margin-bottom: 10px;
  font-size: medium;
}

mat-toolbar {
  padding: 0;
}

span {
  font-size: 18px;
  font-weight: bold;
}
