<mat-toolbar class="background-color">
  <mat-icon class="mat-18">info_i</mat-icon>
  <span style="margin-left: 10px">Informaçãos do Empréstimo</span>
</mat-toolbar>
<br>
<mat-card-content>
  <p><b>Leitor: </b> {{ emprestimo.leitor.nome }}</p>
  <p><b>Telefone: </b> {{ emprestimo.leitor.telefone }}</p>
  <p><b>Endereço: </b> {{ emprestimo.leitor.endereco.logradouro }}</p>
  <p *ngFor="let livro of emprestimo.livros"><b>Livro: </b> {{ livro.titulo }}</p>
  <p><b>Data do emprestimo: </b> {{ emprestimo.dataDoEmprestimo | date: 'dd/MM/yyyy' }}</p>
  <p><b>Data de devolução: </b> {{ emprestimo.dataDevolucaoPrevista | date: 'dd/MM/yyyy' }}</p>
  <p><b>Data da devolução real: </b> {{ emprestimo.dataDevolucaoReal | date: 'dd/MM/yyyy' }} </p>
  <p><b>Status: </b> {{ emprestimo.status }} </p>
</mat-card-content>

<div mat-dialog-actions align="end">
  <button mat-button color="warn" [mat-dialog-close]="true">Sair</button>
</div>
