<br><br>
<mat-card class="card">
  <img class="logo" mat-card-image src="../../../../assets/logo_login.svg">
    <form class="form-login">
      <div mat-dialog-content>

        <mat-form-field appearance="outline">
          <mat-label>Digite o login</mat-label>
          <input matInput type="text" placeholder="Login" formControlName="login"/>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Digite a senha</mat-label>
          <input matInput type="password" placeholder="Senha" formControlName="password"/>
          <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>

      </div>
    </form>
    <div>
      <button class="button" mat-raised-button routerLink="/principal/dashboard">
        <mat-icon>login</mat-icon>Login
      </button>
      </div>
      <mat-card-footer>
      </mat-card-footer>
      <br>
    </mat-card>



