mat-card {
  width: 300px;
  margin: 0 auto;
  margin-top: 10%;
}

img {
  align-items: center;
  width: 130px;
  height: 150px;
}

mat-form-field {
  display: flex;
  flex-direction: column;
}

mat-raised-button {
  width: 100%;
}

.title-login {
  text-align: center;
  margin-bottom: 30px;
}

