.info-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.background-color {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

mat-card-content {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

p {
  margin: 2px 0;
  font-size: 16px;
}

mat-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

mat-divider {
  margin: 15px 0;
  background-color: #ccc;
}

mat-toolbar {
  border-radius: 12px 12px 0 0;
}

button {
  background-color: #2196f3;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
}
