table {
  width: 100%;
}

.background-color {
  color: #fff;
  background-color: #45754c;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  border-radius: 12px 12px 0 0;
}

.info {
  color: #2196f3;
}

.btn {
  color: #45754c
}

