<mat-toolbar class="background-color">
  <mat-icon class="mat-18">book</mat-icon>
  <span style="margin-left: 10px;">{{ title }}</span>
</mat-toolbar>
<br>
<mat-card>
  <form [formGroup]="formEmprestimo" (ngSubmit)="salvarEmprestimo()">
    <div mat-dialog-content>

      <input type="hidden" formControlName="id">

      <mat-form-field style="width: 46%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Selecione o leitor</mat-label>
        <mat-select formControlName="leitor">
          <mat-option *ngFor="let leitor of leitores" [value]="leitor">{{ leitor.nome }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 46%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Selecione o(os) livro</mat-label>
        <mat-select formControlName="livros" multiple (selectionChange)="limitarSelecao($event)">
          <mat-option *ngFor="let livro of livros" [value]="livro">
            {{ livro.titulo }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>
  <div mat-dialog-actions [align]="'start'">
    <button mat-raised-button color="warn" (click)="fecharModal()">
      Cancelar
    </button>
    <button mat-raised-button style="margin-left: 8px" class="background-color" (click)="salvarEmprestimo()">
      {{ btn }}
    </button>
  </div>
</mat-card>
