mat-form-field {
  width: 100%;
}

.inputCdu {
   width: 20%;
   margin-right: 8px;
}

.inputTitulo {
  width: 78%;
}

.inputAutor {
  width: 37%;
  margin-right: 8px
}
.inputEditora {
  width: 25%;
  margin-right: 8px
}

.inputQuant{
  width: 14%;
  margin-right: 8px;
}

.inputStatus {
 width: 20%;
 margin-right: 3px;
}

.background-color {
  color: rgb(255, 255, 255);
  background-color: #45754c;
}
