.header {
  width: 100%;
  background-color: #1976d2;
  color: #fff;
}

.header .container {
  width: 100%;;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}

.content {
  margin-top: 20px;
}

.content .container {
  width: 100%;;
  max-width: 1200px;
  margin: 0 auto;
}
