<mat-nav-list>
  <div>
    <div class="header_logo" style="display: flex; justify-content: center;">
      <img src="../../../../assets/logo_fenelon_barreto.png"
      alt="Administrador" style="height: 250px;">
    </div>
  </div>

  <mat-divider></mat-divider>
  <mat-toolbar>Menu Principal</mat-toolbar>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/dashboard">
    <mat-icon fontIcon="home"></mat-icon>Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/livro">
    <mat-icon fontIcon="menu_book"></mat-icon>Livros
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/leitor">
    <mat-icon fontIcon="local_library"></mat-icon>Leitores
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/emprestimo">
    <mat-icon fontIcon="shared"></mat-icon>Emprestimos
  </a>

</mat-nav-list>

