.background-color {
  color: #fff;
  background-color: #e24b4be0;
}

p {
  font-size: larger;
  margin-top: 15px;
}

strong {
  margin-bottom: 15px;
}

.btCancelar {
  background-color: #e24b4be0;
}

.btConfirmar {
  background-color: #2196f3;
}
