<mat-toolbar class="background-color">
  <mat-icon class="mat-18">book</mat-icon>
  <span style="margin-left: 10px;">{{ title }}</span>
</mat-toolbar>
<br>
<mat-card>
  <form [formGroup]="formLeitor" (ngSubmit)="cadastrar()">
    <div mat-dialog-content>
      <input type="hidden" formControlName="id">

      <mat-form-field style="width: 46%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome" formControlName="nome">
        <mat-error *ngIf="formLeitor.get('nome')?.hasError('apenasLetras')">
          Apenas letras são permitidas
        </mat-error>
        <mat-error *ngIf="formLeitor.get('nome')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 25%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>CPF</mat-label>
        <input [maxLength]="14" matInput placeholder="Digite o CPF" formControlName="cpf" mask="000.000.000-00">
        <mat-error *ngIf="formLeitor.get('cpf')?.hasError('apenasNumeros')">
          Apenas números são permitidos
        </mat-error>
        <mat-error *ngIf="formLeitor.get('cpf')?.hasError('required')">
          CPF é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 25%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>RG</mat-label>
        <input [maxLength]="20" matInput placeholder="Digite o RG" formControlName="rg" maxlength="20">
        <mat-error *ngIf="formLeitor.get('rg')?.hasError('apenasNumeros')">
          Apenas números são permitidos
        </mat-error>
        <mat-error *ngIf="formLeitor.get('rg')?.hasError('required')">
          RG é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 25%; margin-inline-end: 8px">
        <mat-label>Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 25%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Digite o telefone" formControlName="telefone" mask="(00) 00000-0000">
        <mat-error *ngIf="formLeitor.get('telefone')?.hasError('apenasNumeros')">
          Apenas números são permitidos
        </mat-error>
        <mat-error *ngIf="formLeitor.get('telefone')?.hasError('required')">
          Telefone é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 46%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Profissão</mat-label>
        <input matInput placeholder="Digite a profissão" formControlName="profissao">
      </mat-form-field>

      <mat-form-field style="width: 45%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Escola</mat-label>
        <input matInput placeholder="Digite a escola" formControlName="escola">
        <mat-error *ngIf="formLeitor.get('escola')?.hasError('apenasLetras')">
          Apenas letras são permitidas
        </mat-error>
        <mat-error *ngIf="formLeitor.get('escola')?.hasError('required')">
          Escola é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 10%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Série</mat-label>
        <input matInput placeholder="Série" formControlName="serie">
      </mat-form-field>

      <mat-form-field style="width: 20%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Curso</mat-label>
        <input matInput placeholder="Digite o curso" formControlName="curso">
        <mat-error *ngIf="formLeitor.get('curso')?.hasError('apenasLetras')">
          Apenas letras são permitidas
        </mat-error>
        <mat-error *ngIf="formLeitor.get('curso')?.hasError('required')">
          Curso é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 20%; margin-inline-end: 8px;" appearance="outline">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="turno">
          <mat-option value="Manhã">Manhã</mat-option>
          <mat-option value="Tarde">Tarde</mat-option>
          <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>

      <div formGroupName="endereco">

        <mat-form-field style="width: 35%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Logradouro</mat-label>
          <input matInput placeholder="Digite o logradouro" formControlName="logradouro">
          <mat-error *ngIf="formLeitor.get('endereco.logradouro')?.hasError('apenasLetras')">
            Apenas letras são permitidas
          </mat-error>
          <mat-error *ngIf="formLeitor.get('endereco.logradouro')?.hasError('required')">
            Logradouro é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 9%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput placeholder="N" formControlName="numero">
          <mat-error *ngIf="formLeitor.get('endereco.numero')?.hasError('apenasNumeros')">
            Apenas números são permitidos
          </mat-error>
          <mat-error *ngIf="formLeitor.get('endereco.numero')?.hasError('required')">
            Número é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 20%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Digite o bairro" formControlName="bairro">
          <mat-error *ngIf="formLeitor.get('endereco.bairro')?.hasError('apenasLetras')">
            Apenas letras são permitidas
          </mat-error>
          <mat-error *ngIf="formLeitor.get('endereco.bairro')?.hasError('required')">
            Bairro é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 20%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Digite a cidade" formControlName="cidade">
          <mat-error *ngIf="formLeitor.get('endereco.cidade')?.hasError('apenasLetras')">
            Apenas letras são permitidas
          </mat-error>
          <mat-error *ngIf="formLeitor.get('endereco.cidade')?.hasError('required')">
            Cidade é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 10%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado" formControlName="uf">
          <mat-error *ngIf="formLeitor.get('endereco.uf')?.hasError('apenasLetras')">
            Apenas letras são permitidas
          </mat-error>
          <mat-error *ngIf="formLeitor.get('endereco.uf')?.hasError('required')">
            Estado é obrigatório
          </mat-error>
        </mat-form-field>

      </div>

    </div>
  </form>
  <div mat-dialog-actions [align]="'start'">
    <button mat-raised-button color="warn" (click)="fecharModal()">
      Cancelar
    </button>
    <button mat-raised-button style="margin-left: 8px" class="background-color" (click)="cadastrar()">
      {{ btn }}
    </button>
  </div>
</mat-card>
